// Grid settings
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1170px
);
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$brand-primary:         $gray-dark;

// Typography

$font-size-root: 14px;
$border-radius:          0;


// Navbar
$navbar-light-color:                $gray-light;
$navbar-light-hover-color:          $gray;
$navbar-light-active-color:         $brand-primary;

// Breadcrumbs
$breadcrumb-padding-y: 5px;
$breadcrumb-padding-x: 0;
$breadcrumb-bg:        none;

// Cards
$card-spacer-y:            1.5rem;
$card-border-width:        0;
$card-img-overlay-padding: .5rem;
