.home .wrap {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 70px;
    bottom: 35px;
}

.home .wrap .content {
    height: 100%;
}

.home .wrap .content main {
    height: 100%;
    text-align: center;
}

.home-banner {
    margin: auto;
    max-height: 100%;
}

.home-banner img {
    max-height: 100%;
}
