header .navbar {
    padding-bottom: 0;
    background: #fff;
}

header .navbar .collapse {
    @include media-breakpoint-up(md) {
        padding: 0 0 .5rem;
        border-bottom: 1px solid $navbar-light-color;
    }
}

// Палочка - разделяшка
header .navbar-nav .nav-item .nav-link {
    @include media-breakpoint-up(md) {
        display: inline-block;
    }
}
header .navbar-nav .nav-item+.nav-item:before {
    @include media-breakpoint-up(md) {
        display: inline;
        padding-right: 1rem;
        content: '|';
        color: $navbar-light-hover-color;
    }
}
