// Breadcrumbs
.breadcrumb {
    margin-bottom: 5px;
}

// Cards
.post-type-archive-work article a {
    filter: grayscale(100%);
    .card-img-overlay {
        opacity: 0;
        transition: opacity .2s ease-out;
    }
}
.post-type-archive-work article a:hover {
    filter: none;
    .card-img-overlay {
        opacity: 1;
    }
}
.post-type-archive-work .card-img-overlay .card-title {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

// Pagination
.pagination-sm .page-item:first-child .page-link,
.pagination-sm .page-item:last-child .page-link {
    border-radius: 0;
}

// Conacts page
.contact .page-header {
    text-align: center;
}
.contact .contact-item {
    margin-top: 40px;
    text-align: center;
}
.contact .contact-item h3:before {
    font-family: FontAwesome;
    content: "\f041";
    display: block;
    font-size: 1.5em;
}